#about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
  text-align: center;
}

.schools {
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 2rem;
  @media (max-width: 800px) {
    flex-wrap: wrap;
  }
}

.second img {
  width: 60%;
  @media (max-width: 800px) {
    width: 90%;
  }
}

.second {
  padding: 1rem 4rem;
  text-align: start;
  display: flex;
  @media (max-width: 800px) {
    flex-direction: column;
  }
}
