/* To import google fonts */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
  color: #333;
  line-height: 1.6;
}

html {
  font-size: 16px;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #333;
}

h1,
h2,
h3 {
  font-weight: 300;
  line-height: 1.2;
  margin: 15px 0;
}

h1 {
  font-size: 2.5rem;
  text-align: center;
}

p {
  margin: 10px 0;
}

img {
  width: 100%;
}

/* the button */
.btn {
  display: inline-block;
  padding: 10px 30px;
  cursor: pointer;
  background: #d7442e;
  color: #fff;
  border: none;
  border-radius: 5px;
}

.btn-outline {
  background-color: transparent;
  border: 1px #fff solid;
}

.btn:hover {
  transform: scale(0.98);
}

/* styling the container */

.card {
  background-color: #fff;
  color: #333;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin: 10px;
}

section,
header,
nav {
  padding: 1rem 8rem;
  @media (max-width: 800px) {
    padding: 1rem 3rem;
  }
}
